{% extends 'layout/base_public.html' %}

{%block title%}Quên mật khẩu{%endblock%}
{% block sidebar %}{% endblock %}

{% block content %}

<h3 class="text-info text-center mt-3">LẤY LẠI MẬT KHẨU</h3>

<form method="post">
    <div class="form-floating mb-3 mt-3">
        <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">
        <label for="email">Nhập số điện thoại để lấy mật khẩu</label>
    </div>

     <div class="form-floating mt-3 mb-3">
         <button class="btn btn-primary" type="submit">GỬI YÊU CẦU</button>
     </div>


{% endblock %}
