{% extends 'layout/base_public.html' %}
{% block sidebar %}{% endblock %}

{% block content %}

<section class="hero text-start container mt-3">
    <h1>WELCOME TO TDSPA</h1>

    <p>
        Cung cấp các dịch vụ spa chuyên nghiệp, đa dạng, dành cho cả khách hàng nam và khách hàng nữ,
        khách hàng trong nước và khách hàng nước ngoài.
    </p>

    {% if current_user.is_authenticated %}
        <!-- ĐÃ ĐĂNG NHẬP -->

        <a href="/customer/book"
           class="btn btn-primary mt-3">
            Đặt lịch
        </a>
    {% else %}
        <!-- CHƯA ĐĂNG NHẬP -->
        <a href="/login?next=/customer/book"
           class="btn btn-primary mt-3">
            Đặt lịch
        </a>
    {% endif %}
</section>

<section class="service-section mt-3">
    <div class="container">
        <h2 class="fw-bold mb-4">DỊCH VỤ CỦA TDSPA</h2>

        <div class="row">
            <div class="col-md-4 service-item">✔ Trọn gói</div>
            <div class="col-md-4 service-item">✔ Chăm sóc tóc</div>
            <div class="col-md-4 service-item">✔ Massage thư giãn</div>
            <div class="col-md-4 service-item">✔ Chăm sóc cơ thể</div>
            <div class="col-md-4 service-item">✔ Chăm sóc da</div>
            <div class="col-md-4 service-item">✔ Waxing</div>
        </div>
    </div>
</section>

{% endblock %}
