{% extends 'layout/base.html' %}
{% block content %}
<div class="container py-5">
    <h3 style="text-align: center">Đặt lịch dịch vụ</h3>

    <form method="post">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Họ tên khách hàng">
            <label>Họ tên khách hàng</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" placeholder="SĐT">
            <label>SĐT</label>
        </div>

        <select class="form-select" name="service_id">
            <option value="">-- Chọn dịch vụ --</option>

            {% for s in services %}
            <option value="{{ s.id }}" data-duration="{{ s.duration_minute }}">
                {{ s.name }} ({{ s.duration_minute }} phút)
            </option>
            {% endfor %}
        </select>

        <div class="mt-1 mb-3">
            <label class="form-label">Ngày</label>
            <input type="date"
                   id="booking-date"
                   name="date"
                   class="form-control"
                   required>
            <small class="text-danger d-none" id="date-error">
                ❌ Ngày đã qua, vui lòng chọn lại!
            </small>
        </div>

        <select class="form-select mb-3" name="start_time" required>
            <option value="">-- Chọn giờ --</option>
            {% for t in time_slots %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}

        </select>

        <div class="form-floating mb-3">
            <textarea class="form-control" id="note" name="note" placeholder="Ghi chú lễ tân"></textarea>
            <label for="note">Ghi chú lễ tân</label>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Gửi SMS xác nhận tự động</label>
        </div>


        <button type="submit" class="btn btn-success">
            Đặt lịch
        </button>
    </form>
</div>

<script>
    const dateInput = document.getElementById("booking-date");
    const errorText = document.getElementById("date-error");

    // Lấy ngày hôm nay theo local time (yyyy-mm-dd)
    const today = new Date();
    const yyyy = today.getFullYear();
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const dd = String(today.getDate()).padStart(2, '0');
    const todayStr = `${yyyy}-${mm}-${dd}`;

    // Không cho chọn ngày trước hôm nay
    dateInput.min = todayStr;

    dateInput.addEventListener("change", function () {
        if (this.value < todayStr) {
            errorText.classList.remove("d-none");
            this.value = ""; // reset
        } else {
            errorText.classList.add("d-none");
        }
    });
</script>
{% endblock %}
