{% extends 'layout/base.html' %}
{% block content %}
<div class="container py-5">
    <h3 style="text-align: center">Đặt lịch dịch vụ</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--suppress HtmlUnknownTarget -->
    <form method="post" action="{{ url_for('receptionist_book') }}">
        <div class="mb-3 mt-3">
            <label class="fw-bold mb-2">Chọn khách hàng</label>

            <select class="form-select" name="customer_id" id="customer_select" required>
                <option value="">-- Tìm khách hàng --</option>
                {% for c in customers %}
                <option value="{{ c.id }}">
                    {{ c.full_name }} - {{ c.phone }}
                </option>
                {% endfor %}
            </select>
            <small class="text-muted fst-italic">Gõ tên hoặc SĐT để tìm kiếm nhanh.</small>
        </div>

        <select class="form-select" name="service_id">
            <option value="">-- Chọn dịch vụ --</option>

            {% for s in services %}
            <option value="{{ s.id }}" data-duration="{{ s.duration_minute }}">
                {{ s.name }} ({{ s.duration_minute }} phút)
            </option>
            {% endfor %}
        </select>

        <div class="mt-1 mb-3">
            <label>Ngày</label>
            <input class="form-control" name="date" value="{{ date }}" readonly>
        </div>

        <div class="mb-3">
            <label>Giờ</label>
            <input class="form-control" name="start_time" value="{{ time }}" readonly>
        </div>

        <select class="form-select mb-3" name="technician_id" required>
            <option value="">-- Chọn nhân viên thực hiện --</option>
            {% for t in technicians %}
            <option value="{{ t.id }}">{{ t.full_name }}</option>
            {% endfor %}
        </select>


        <div class="form-floating mb-3">
            <textarea class="form-control" id="note" name="note" placeholder="Ghi chú lễ tân"></textarea>
            <label for="note">Ghi chú lễ tân</label>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Gửi SMS xác nhận tự động</label>
        </div>


<!--        <button class="btn btn-primary">Đặt lịch và in phiếu cho khách</button>-->
        <button type="submit" class="btn btn-success">
            Đặt lịch
        </button>
    </form>
</div>
{% endblock %}
